<html>
    <head>
        <title>BlogApp</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="quote left icon" style="font-size:2em"></i>BlogApp</div>
        </div>
        <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">New Post</a>
    </div>
    <style>
        .container.main{margin-top:7em;}
    </style>
    </head>
    <body>